NEXT_PUBLIC_SUPABASE_URL=https://bwsjgacrzcnycpzqytpy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ3c2pnYWNyemNueWNwenF5dHB5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI5Mzk3NTYsImV4cCI6MjA5ODUxNTc1Nn0.n3sDZXx6i3agoPGlDEBwvFhzm-LZ2wi_ak7GLYjeVK0
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ3c2pnYWNyemNueWNwenF5dHB5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjkzOTc1NiwiZXhwIjoyMDk4NTE1NzU2fQ.X8nobWXOl4WgRI-X2ZZD0JzmgzQhRS0V4m1LwENZe8g

STRIPE_SECRET_KEY=sk_live_...
STRIPE_WEBHOOK_SECRET=whsec_...

NEXT_PUBLIC_BASE_URL=https://maple-mcp.vercel.app/

# Email of the admin user (your account)
ADMIN_EMAIL=joshvigel@gmail.com
